
<!-- Content Wrapper START -->
<div class="main-content">
  <div class="container-fluid">
      <div class="page-title">
          <h4>Account Setting</h4>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="row">
                  
                  <div class="col-md-12">
                      <form [formGroup]="myForm">
                      <div class="card">
                          <div class="card-heading border bottom">
                              <h4 class="card-title">General Info</h4>
                          </div>
                          <div class="card-block">
                              <div class="row">
                                  <div class="col-md-3">
                                      <p class="mrg-top-10 text-dark"> <b>Name</b></p>
                                  </div>
                                  <div class="col-md-6">
                                      <input type="text" class="form-control" formControlName="name">
                                  </div>
                              </div>
                              <hr>
                              <div class="row">
                                  <div class="col-md-3">
                                      <p class="mrg-top-10 text-dark"> <b>Email</b></p>
                                  </div>
                                  <div class="col-md-6">
                                        <input type="text" class="form-control" formControlName="emailid" readonly>
                                  </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"> <b>Number</b></p>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" formControlName="number">
                                </div>
                            </div>
                            <hr>
                             
                          </div>
                      </div>
                      <div class="card">
                        <div class="card-heading border bottom">
                            <h4 class="card-title">Branches</h4>
                        </div>
                        <div class="card-block">
                                <div formArrayName="branches">
                                    <div *ngFor="let comp of myForm.get('branches')['controls']; let i=index">
                                        <div [formGroupName]="i">
                                            <div class="row">
                                                    <div class="col-md-3">
                                                        <p class="mrg-top-10 text-dark"> <b>Name</b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" formControlName="name">
                                                    </div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-3">
                                                        <p class="mrg-top-10 text-dark"> <b>Location</b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" formControlName="location">
                                                    </div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-3">
                                                        <p class="mrg-top-10 text-dark"> <b>Status</b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                            <select  class="form-control" formControlName="status" >
                                                                    <option  value="Active" [selected]=" 'Active' == comp.value.status">
                                                                        Active
                                                                    </option>
                                                                    <option  value="InActive" [selected]=" 'Active' == comp.value.status">
                                                                            InActive
                                                                        </option>
                                                                </select>
                                                    </div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-3">
                                                        <p class="mrg-top-10 text-dark"> <b>Survey</b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                            <select  class="form-control" formControlName="surveyid" >
                                                                    <option >select survey</option>
                                                                    <option  *ngFor="let survey of surveyids" value={{survey._id}} [selected]="survey._id == comp.value.surveyid">
                                                                        {{survey.name}}
                                                                    </option>
                                                                
                                                                </select>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                                <button class="btn btn-danger" (click)="DeleteBranch(i)">Delete Branch</button>
                                            </div>
                                        <hr>
                                   </div>
                                </div>
                        
                            
                        </div>
                        <div class="card-footer border top">
                                <div class="text-left">
                                        <button class="btn btn-primary" (click)="addNewBranch()">Add Branch</button>
                                    </div>
                                <div class="text-right">
                                        <button class="btn btn-success" (click)="submit(myForm.value)">Save</button>
                                    </div>
                            
                        </div>
                    </div>
                     
                     </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Content Wrapper END -->