<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-heading border bottom">
                <h4 class="card-title">Form Validation Layout</h4>
            </div>
            <div class="card-block">
                <div class="card-block">
                    
                    <form [formGroup]="myForm">
                        <h3>Survey Details</h3>
                        <label>Survey name: </label>
                            <input formControlName="name" />
                            <button (click)="addNewCompany()">Add Question</button><br><br>
                        <div formArrayName="questions">
                        <div *ngFor="let comp of myForm.get('questions')['controls']; let i=index">
                        <fieldset>
                            <legend><h3>Question {{i+1}}: </h3></legend>
                            <div [formGroupName]="i">
                            <label>Question type: </label>
                            <select   formControlName="qtype">
                                    <option *ngFor="let qtypname of qtypes">
                                        {{qtypname}}
                                    </option>
                            </select>
                            <label>Question: </label>
                            <input formControlName="qt" /> 
                            <label>Answer: </label>
                            <input formControlName="ans" /> 
                            <button (click)="deleteCompany(i)">Delete Question</button>
                            
                            </div>
                        </fieldset>
                        </div>
                        </div><br>
                        
                    </form>

                    <pre>{{myForm.value | json}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>