<!-- <app-header></app-header> -->
 <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-heading border " style="margin-top: 5% ;margin-left:6% ">
                <h4 class="card-title">Add Survey</h4>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <form class="form-horizontal mrg-top-40 pdd-right-30 ng-pristine ng-valid" [formGroup]="myForm" >
                            <div class="form-group row">
                                <label for="surveyname" class="col-md-2 control-label">Survey Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="surveyname" formControlName="name" placeholder="Survey Name">
                                </div>
                            </div>
                            <div formArrayName="questions">
                                    <div *ngFor="let comp of myForm.get('questions')['controls']; let i=index">
                                        <div class="card" style="padding: 4% !important">
                                            <legend class="card-heading border bottom"><h3>Question {{i+1}}: </h3></legend> 
                                            <div class="text-right mrg-top-15">
                                                <button class="btn btn-warning" (click)="deleteQuestions(i)">Delete Question</button>
                                            </div>
                                            <div [formGroupName]="i">
                                                <div class="form-group row">
                                                    <label for="form-questiontype-{{i}}" class="col-md-2 control-label">Question type</label>
                                                    <div class="col-md-10">
                                                        <select  class="form-control" formControlName="qtype" id="form-questiontype-{{i}}">
                                                            <option *ngFor="let qtypname of qtypes">
                                                                {{qtypname}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="form-question-{{i}}" class="col-md-2 control-label">Question</label>
                                                    <div class="col-md-10">
                                                        <textarea class="form-control" rows="3" id="form-question-{{i}}" formControlName="question"></textarea>
                                                    </div>
                                                </div>
                                                <div *ngIf="comp.value.qtype=='Multiple Choice' || comp.value.qtype=='Check Boxes' || comp.value.qtype=='Drop Down' || comp.value.qtype=='Rating Grid'">
                                                    <div formArrayName="options">
                                                            <div *ngFor="let option of comp.get('options').controls; let j=index">
                    
                                                                    <div [formGroupName]="j">
                                                                            <div class="form-group row">
                                                                                <label for="form-question-{{i}}-{{j}}" class="col-md-2 control-label">Option {{j+1}}</label>
                                                                                <div class="col-md-10">
                                                                                    <input class="form-control" rows="3" id="form-question-{{i}}-{{j}}" formControlName="option">
                                                                                    <div class="text-right mrg-top-15">
                                                                                        <button class="btn btn-danger" (click)="deleteOption(comp.controls.options, j)">Delete Option</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-md-10">
                                                                    <div class="text-left mrg-top-15">
                                                                        <button  class="btn btn-info" (click)="addNewOption(comp.controls.options)">Add Option</button>
                                                                    </div>
                                                                </div>
                                                            </div>       
                                                    </div>
                                                </div>                    
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-10">
                                    <div class="text-left mrg-top-15">
                                        <button  class="btn btn-primary" (click)="addNewQuestions()">Add Question</button>
                                    </div>
                                    <div class="text-right mrg-top-15">
                                        <button (click)="submitForm(myForm.value)" class="btn btn-success">Submit</button>
                                        <button class="btn btn-default">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
